<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Web</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <style>
        .grabbable {
            cursor: move; /* fallback if grab cursor is unsupported */
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }

        /* (Optional) Apply a "closed-hand" cursor during drag operation. */
        .grabbable:active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Course Information</h2>
                <div class="list-group">
                    <div role="button" class="list-group-item list-group-item-action" v-for="course in courseList"
                        v-bind:class="isSelected(course) ? 'bg-secondary text-white' : ''"
                        @click="selectCourse(course)">
                        <div class="row">
                            <div class="col fs-5">{{ course['Course title'] }}</div>
                            <div class="col text-end">{{ course['Credits'] }} Credits</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ course['Instructor'] }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ course['Curriculum Number'] }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <h2 class="text-center">Courses I Plan to Take</h2>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary float-end" @click="outputResult">Done</button>
                    </div>
                </div>
                <dragable v-model="selectedCourses" @start="drag=true" @end="drag=false" item-key="Curriculum Number">
                    <template #item="{element, index}">
                        <div class="list-group">
                            <div class="list-group-item">
                                <div class="row d-flex align-items-center">
                                    <div class="col fs-4 grabbable"><i class="bi bi-grip-horizontal"></i></div>
                                    <div class="col fs-5 bg-secondary text-white text-center">{{ index + 1 }}</div>
                                    <div class="col-9 fs-5">{{ element['Course title'] }}</div>
                                    <div role="button" class="col fs-4" @click="deleteCourse(index)"><i class="bi bi-trash"></i></div>
                                </div>
                            </div>
                        </div>
                    </template>
                </dragable>
            </div>
        </div>
        <div class="row" v-if="result.length">
            <div class="col fs-4">Result: {{ result }}</div>
        </div>
    </div>

    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module">
        import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

        const app = createApp({
            components: {
                dragable: window['vuedraggable']
            },
            data() {
                return {
                    courseList: [],
                    selectedCourses: [],
                    result: [],
                    drag: false
                }
            },
            methods: {
                isSelected(course) {
                    return this.selectedCourses.includes(course)
                },
                selectCourse(course) {
                    if (!this.selectedCourses.includes(course)) {
                        this.selectedCourses.push(course)
                    }
                },
                deleteCourse(index) {
                    this.selectedCourses.splice(index, 1)
                },
                outputResult() {
                    this.result = []
                    this.selectedCourses.forEach((course) => {
                        this.result.push(course['Course title'])
                    })
                }
            },
            mounted() {
                axios.get('http://localhost:3000/course')
                    .then((response) => {
                        for (let i = 1; i <= Object.keys(response.data).length; ++i) {
                            this.courseList.push(response.data[i])
                        }
                    })
                    .catch(function (error) {
                        console.log(error)
                    })
            }
        })
        app.mount('#app')
    </script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
    <script src="./js/vuedraggable.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>